@model IEnumerable<Connect2Us.Models.Delivery>

@{ 
    ViewBag.Title = "My Deliveries";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Customer
        </th>
        <th>
            Bookstore
        </th>
        <th>
            Status
        </th>
        <th>
            Assigned Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Customer.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Bookstore.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDate)
            </td>
            <td>
                @Html.ActionLink("Details", "DeliveryDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>