@model Connect2Us.ViewModels.BankCardViewModel

@{
    ViewBag.Title = "Add Bank Card";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Card Details</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.CardholderName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CardholderName, new { htmlAttributes = new { @class = "form-control", placeholder = "John Doe" } })
                            @Html.ValidationMessageFor(model => model.CardholderName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "1234 5678 9012 3456", maxlength = "19" } })
                            @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                            <div id="cardType" class="mt-1"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/YY", maxlength = "5" } })
                                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control", placeholder = "123", maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Add Card" class="btn btn-primary" />
                            <a href="@Url.Action("ManageCards")" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Card Information</h5>
            </div>
            <div class="card-body">
                <h6>Supported Card Types:</h6>
                <ul>
                    <li>Visa (starts with 4)</li>
                    <li>Mastercard (starts with 5)</li>
                    <li>American Express (starts with 34 or 37)</li>
                    <li>Discover (starts with 6011)</li>
                </ul>

                <h6>Security Information:</h6>
                <p class="text-muted">
                    Your card details are securely stored and encrypted. We only store the last 4 digits of your card number for security purposes.
                </p>

                <div class="alert alert-info">
                    <strong>Note:</strong> This is a demonstration system. Do not enter real card details.
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            // Auto-format card number
            $('#CardNumber').on('input', function () {
                var value = $(this).val().replace(/\s/g, '');
                var formattedValue = value.replace(/(.{4})/g, '$1 ').trim();
                $(this).val(formattedValue);

                // Detect card type
                detectCardType(value);
            });

            // Auto-format expiry date
            $('#ExpiryDate').on('input', function () {
                var value = $(this).val().replace(/\D/g, '');
                if (value.length >= 2) {
                    value = value.substring(0, 2) + '/' + value.substring(2, 4);
                }
                $(this).val(value);
            });

            function detectCardType(cardNumber) {
                var cardType = '';
                var cardTypeElement = $('#cardType');

                if (cardNumber.startsWith('4')) {
                    cardType = 'Visa';
                } else if (cardNumber.startsWith('5')) {
                    cardType = 'Mastercard';
                } else if (cardNumber.startsWith('34') || cardNumber.startsWith('37')) {
                    cardType = 'American Express';
                } else if (cardNumber.startsWith('6011')) {
                    cardType = 'Discover';
                }

                if (cardType) {
                    cardTypeElement.html('<span class="badge badge-info">' + cardType + '</span>');
                } else {
                    cardTypeElement.html('');
                }
            }
        });
    </script>
}