@model Connect2Us.Models.ApplicationUser
@using System.Collections.Generic

@{ 
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Roles
        </dt>

        <dd>
            @string.Join(", ", (IEnumerable<string>)ViewBag.UserRoleNames)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("UpdateUserRole", "UserManagement", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label for="role">Role</label>
        @Html.DropDownList("role", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select a role", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Update Role</button>
}

<p>
    @Html.ActionLink("Back to List", "Users")
</p>