@using Microsoft.AspNet.Identity
@using System.Security.Claims

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ms-auto">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fas fa-user"></i> @User.Identity.GetUserName()
                    @if (User.IsInRole("Admin"))
                    {
                        <span class="badge bg-danger">Admin</span>
                    }
                    else if (User.IsInRole("Bookstore"))
                    {
                        <span class="badge bg-primary">Bookstore</span>
                    }
                    else if (User.IsInRole("Customer"))
                    {
                        <span class="badge bg-success">Customer</span>
                    }
                    else if (User.IsInRole("DeliveryDriver"))
                    {
                        <span class="badge bg-warning">Driver</span>
                    }
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("My Profile", "Index", "Profile", routeValues: null, htmlAttributes: new { title = "Profile", @class = "dropdown-item" })</li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-sign-out-alt"></i> Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav ms-auto">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}