@model Connect2Us.Models.Delivery

@{ 
    ViewBag.Title = "Delivery Details";
}

<h2>Delivery #@Model.Id</h2>

<div>
    <h4>Delivery Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Customer
        </dt>

        <dd>
            @Model.Order.Customer.User.FirstName @Model.Order.Customer.User.LastName
        </dd>

        <dt>
            Delivery Address
        </dt>

        <dd>
            @Model.Order.DeliveryAddress
        </dd>

        <dt>
            Bookstore
        </dt>

        <dd>
            @Model.Order.Bookstore.Name
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Model.Status
        </dd>
    </dl>

    <h4>Order Items</h4>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
        @foreach (var item in Model.Order.OrderItems)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </table>

    @using (Html.BeginForm("UpdateDeliveryStatus", "DeliveryDriver", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("deliveryId", Model.Id)

        <div class="form-group">
            <label for="status">Update Status</label>
            <select name="status" class="form-control">
                <option value="Picked Up">Picked Up</option>
                <option value="In Transit">In Transit</option>
                <option value="Delivered">Delivered</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Status</button>
    }
</div>
<p>
    @Html.ActionLink("Back to My Deliveries", "MyDeliveries")
</p>