@model Connect2Us.Models.DeliveryDriver

@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Update Profile</h2>
            <hr />
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserId)

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4>Personal Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <strong>Name:</strong>
                            </div>
                            <div class="col-md-8">
                                @Model.User.FirstName @Model.User.LastName
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <strong>Email:</strong>
                            </div>
                            <div class="col-md-8">
                                @Model.User.Email
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.User.PhoneNumber, "Phone Number", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.User.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="card mt-4">
                    <div class="card-header">
                        <h4>Vehicle Information</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.VehicleType, "Vehicle Type", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.VehicleType, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VehicleType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.VehicleNumber, "Vehicle Number", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.VehicleNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VehicleNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.LicenseNumber, "License Number", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.LicenseNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LicenseNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.VehicleRegistration, "Vehicle Registration", new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.VehicleRegistration, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.VehicleRegistration, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group mb-3">
                            <div class="form-check">
                                @Html.CheckBoxFor(model => model.IsAvailable, new { @class = "form-check-input" })
                                @Html.LabelFor(model => model.IsAvailable, "Available for deliveries", new { @class = "form-check-label" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Actions</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            @Html.ActionLink("Back to Profile", "DriverProfile", "DeliveryDriver", null, new { @class = "btn btn-secondary" })
                            @Html.ActionLink("Cancel", "DriverProfile", "DeliveryDriver", null, new { @class = "btn btn-outline-secondary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}