@model Connect2Us.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.UserName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Roles
        </dt>

        <dd>
            @string.Join(", ", (IEnumerable<string>)ViewBag.UserRoles)
        </dd>
    </dl>
</div>

<h4>Manage Roles</h4>

@using (Html.BeginForm("UpdateUserRole", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("userId", Model.Id)

    <div class="form-group">
        <label for="role">Select Role:</label>
        @Html.DropDownList("role", new SelectList(ViewBag.AllRoles as IEnumerable<string>), new { @class = "form-control" })
    </div>

    <button type="submit" name="add" value="true" class="btn btn-success">Add Role</button>
    <button type="submit" name="add" value="false" class="btn btn-danger">Remove Role</button>
}

<p>
    @Html.ActionLink("Back to User List", "Users")
</p>